In [2]:
import numpy as np
import pysindy as ps
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
pd.options.mode.chained_assignment = None

In [3]:
df = pd.read_csv("MBTA_data.csv")

In [4]:
d = {}

for i in df.route_name.unique():
    d[i] = len(df[df.route_name == i].stop_name.unique())

In [5]:
d = {}

for i in df.day_type_name.unique():
    d[i] = list(df[df.day_type_name == i].time_period_name.unique())

In [6]:
data = df[(df.day_type_name == "weekday") & (df.season == "Fall 2019")]

In [7]:
data.stop_name = np.where(data.stop_id == 'place-stpul', 'St Pul Street', data.stop_name)

In [8]:
d = {}

for i in df.route_id.unique():
    d[i] = list(df[df.route_id == i].stop_name.unique())

In [9]:
### names for red lines

Red1 = ["Alewife", "Davis", "Porter", "Harvard", "Central", "Kendall/MIT", "Charles/MGH",
     "Park Street", "Downtown Crossing", "South Station", "Broadway", "Andrew", "JFK/Umass", "Savin Hill", "Fields Corner", "Shawmut", "Ashmont"]

Red2 = ["Alewife", "Davis", "Porter", "Harvard", "Central", "Kendall/MIT", "Charles/MGH",
     "Park Street", "Downtown Crossing", "South Station", "Broadway", "Andrew", "JFK/Umass", "North Quincy", "Wollaston", "Quincy Center", "Quincy Adams", "Braintree"]

Red3 = Red1[::-1].copy()

Red4 = Red2[::-1].copy()

In [10]:
### Names for Blue line --> NOT IN ORDER
Blue1 = ['Airport',
 'Aquarium',
 'Beachmont',
 'Bowdoin',
 'Government Center',
 'Maverick',
 'Orient Heights',
 'Revere Beach',
 'Suffolk Downs',
 'State Street',
 'Wood Island',
 'Wonderland']

Blue2 = Blue1[::-1].copy()

In [11]:
### Names for Orange line --> NOT IN ORDER
Orange1 = ['Malden Center',
 'North Station',
 'Oak Grove',
 'Roxbury Crossing',
 'Ruggles',
 'Stony Brook',
 'State Street',
 'Sullivan Square',
 'Tufts Medical Center',
 'Wellington',
 'Assembly',
 'Back Bay',
 'Community College',
 'Chinatown',
 'Downtown Crossing',
 'Forest Hills',
 'Green Street',
 'Haymarket',
 'Jackson Square',
 'Massachusetts Ave.']

Orange2 = Orange1[::-1].copy()

In [12]:
'Chestnut Hill Ave' in d["Green"]

False

In [13]:
###### Green line B
Green1 = ['Lechmere', 'Science Park', 'North Station', 'Haymarket', 'Government Center', 'Park Street', 'Boylston',
 'Arlington', 'Copley', 'Hynes Convention Center', 'Kenmore', 'Blandford Street', 'Boston Univ. East', 
 'Boston Univ. Central', 'Boston Univ. West', 'Saint Paul Street', 'Pleasant Street', 'Babcock Street',
 'Harvard Ave.','Griggs Street', 'Allston Street', 'Warren Street', 'Washington Street', 'Sutherland Road',
'Chiswick Road', 'Chestnut Hill Ave.', 'South Street']

Green2 = Green1[::-1].copy()

In [14]:
####Green line C

Green3 = ['Government Center', 'Park Street', 'Boylston', 'Arlington', 'Copley', 'Hynes Convention Center', 'Kenmore', 
'Saint Mary Street', 'Hawes Street', 'Kent Street', 'Saint Paul Street', 'Coolidge Corner', 'Summit Ave.', 
'Brandon Hall', 'Fairbanks Street', 'Washington Square', 'Tappan Street', 'Dean Road', 'Englewood Ave.', 'Cleveland Circle']

Green4 = Green3[::-1].copy()

In [15]:
####Green line D
Green5 = ['Lechmere', 'Science Park', 'North Station', 'Haymarket', 'Government Center', 'Park Street', 'Boylston', 
'Arlington', 'Copley', 'Hynes Convention Center', 'Kenmore', 'Fenway', 'Longwood', 'Brookline Village', 'Brookline Hills',
'Beaconsfield', 'Reservoir', 'Chestnut Hill Ave.', 'Newton Centre', 'Newton Highlands', 'Eliot', 'Waban', 'Woodland', 
'Riverside']

Green6 = Green5[::-1].copy()

In [16]:
#### Line Green E
Green7 = ['Lechmere', 'Science Park', 'North Station', 'Haymarket', 'Government Center', 'Park Street', 'Boylston',
    'Arlington', 'Copley', 'Prudential', 'Symphony', 'Northeastern University', 'Museum of Fine Arts', 'Longwood',
    'Brigham Circle', 'Fenwood Road', 'Mission Park', 'Riverway', 'Back of the Hill', 'Heath Street']

Green8 = Green7[::-1].copy()

In [17]:
#To check for belongings
for i in Red1:
    if i not in d["Red"]:
        print(i)

### Average Flow for the blue line

In [42]:
#### No offpeak for the blue line
Blue1_dataset = data[(data.stop_name.isin(Blue1)) & (data.route_name == "Blue Line") & (data.direction_id == 0)].drop(['ObjectId', 'mode', 'season', 'route_id', 
       'day_type_id', 'time_period_id',  'stop_id', 'total_ons', 'total_offs',
       'number_service_days', 'average_ons', 'average_offs', ], axis=1)

Blue1_dataset = Blue1_dataset.pivot(index='stop_name', values='average_flow', columns = "time_period_name").reset_index()

In [43]:
Blue2_dataset = data[(data.stop_name.isin(Blue1)) & (data.route_name == "Blue Line") & (data.direction_id == 1)].drop(['ObjectId', 'mode', 'season', 'route_id', 
       'day_type_id', 'time_period_id',  'stop_id', 'total_ons', 'total_offs',
       'number_service_days', 'average_ons', 'average_offs', ], axis=1)

Blue2_dataset = Blue2_dataset.pivot(index='stop_name', values='average_flow', columns = "time_period_name").reset_index()

In [44]:
### AvgFlow
np.stack((Blue1_dataset.values, Blue2_dataset.values)).shape

(2, 12, 10)

In [45]:
### capacity
c = 1200

In [46]:
### Cost
C = 10000

### Orange Line

In [47]:
Orange1_dataset = data[(data.stop_name.isin(Orange1)) & (data.route_name == "Orange Line") & (data.direction_id == 0)].drop(['ObjectId', 'mode', 'season', 'route_id', 
       'day_type_id', 'time_period_id',  'stop_id', 'total_ons', 'total_offs',
       'number_service_days', 'average_ons', 'average_offs', ], axis=1)

Orange1_dataset = Orange1_dataset.pivot(index='stop_name', values='average_flow', columns = "time_period_name").reset_index()

In [48]:
Orange2_dataset = data[(data.stop_name.isin(Orange1)) & (data.route_name == "Orange Line") & (data.direction_id == 1)].drop(['ObjectId', 'mode', 'season', 'route_id', 
       'day_type_id', 'time_period_id',  'stop_id', 'total_ons', 'total_offs',
       'number_service_days', 'average_ons', 'average_offs', ], axis=1)

Orange2_dataset = Orange2_dataset.pivot(index='stop_name', values='average_flow', columns = "time_period_name").reset_index()

In [49]:
### AvgFlow
np.stack((Orange1_dataset.values, Orange2_dataset.values)).shape

(2, 20, 10)

In [50]:
#### capacity
c = 1000

In [51]:
#### cost
C = 9000

### Red Line

In [52]:
Red1_dataset = data[(data.route_name == "Red Line") & (data.direction_id == 1)].drop(['ObjectId', 'mode', 'season', 'route_id', 
       'day_type_id', 'time_period_id',  'stop_id', 'total_ons', 'total_offs',
       'number_service_days', 'average_ons', 'average_offs', ], axis=1)

Red1_dataset = Red1_dataset.pivot(index='stop_name', values='average_flow', columns = "time_period_name").reset_index()

In [53]:
Red2_dataset = data[(data.route_name == "Red Line") & (data.direction_id == 0)].drop(['ObjectId', 'mode', 'season', 'route_id', 
       'day_type_id', 'time_period_id',  'stop_id', 'total_ons', 'total_offs',
       'number_service_days', 'average_ons', 'average_offs', ], axis=1)

Red2_dataset = Red2_dataset.pivot(index='stop_name', values='average_flow', columns = "time_period_name").reset_index()

In [54]:
np.stack((Red1_dataset.values, Red2_dataset.values)).shape

(2, 22, 10)

In [55]:
### Capactiy
c = 1200
### Cost
C = 10000

### Green Line

In [56]:
Green1_dataset = data[(data.route_name == "Green Line") & (data.direction_id == 1)].drop(['ObjectId', 'mode', 'season', 'route_id', 
       'day_type_id', 'time_period_id',  'stop_id', 'total_ons', 'total_offs',
       'number_service_days', 'average_ons', 'average_offs', ], axis=1)

Green1_dataset = Green1_dataset.pivot(index='stop_name', values='average_flow', columns = "time_period_name").reset_index()

In [57]:
Green2_dataset = data[(data.route_name == "Green Line") & (data.direction_id == 0)].drop(['ObjectId', 'mode', 'season', 'route_id',
         'day_type_id', 'time_period_id',  'stop_id', 'total_ons', 'total_offs',
         'number_service_days', 'average_ons', 'average_offs', ], axis=1)   

Green2_dataset = Green2_dataset.pivot(index='stop_name', values='average_flow', columns = "time_period_name").reset_index()

In [58]:
np.stack((Green1_dataset.values, Green2_dataset.values)).shape

(2, 66, 10)

In [59]:
### Capactiy
c = 800
### Cost
C = 8000

### Saving tables

In [62]:
Blue1_dataset.columns.name = None
Blue2_dataset.columns.name = None

Orange1_dataset.columns.name = None
Orange2_dataset.columns.name = None

Red1_dataset.columns.name = None
Red2_dataset.columns.name = None

Green1_dataset.columns.name = None
Green2_dataset.columns.name = None

In [63]:
Blue1_dataset.to_csv("Blue1_dataset.csv", index=False)
Blue2_dataset.to_csv("Blue2_dataset.csv", index=False)

Orange1_dataset.to_csv("Orange1_dataset.csv", index=False)
Orange2_dataset.to_csv("Orange2_dataset.csv", index=False)

Red1_dataset.to_csv("Red1_dataset.csv", index=False)
Red2_dataset.to_csv("Red2_dataset.csv", index=False)

Green1_dataset.to_csv("Green1_dataset.csv", index=False)
Green2_dataset.to_csv("Green2_dataset.csv", index=False)